@model MVC_Project.ViewModel.OrderWithCustomerAndOrderListVM
<link rel="stylesheet" type="text/css" href="/css/bootstrap-FileUpload.min.css" />

<style>
    @@media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }

    .horizontal-timeline.items .items {
        border-top: 2px solid var(--accent-color); /* Removed extra semicolon */
    }

        .horizontal-timeline.items .items .items-list {
            position: relative;
            margin-right: 0;
        }

            .horizontal-timeline.items .items .items-list:before {
                content: "";
                position: absolute;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: #ddd;
                top: 0;
                margin-top: -5px;
            }

        .horizontal-timeline.items .items .items-list {
            padding-top: 15px;
        }

    .red-border {
        border-top: 2px solid var(--accent-color); /* Red border on top */
        border-bottom: 2px solid var(--accent-color); /* Red border on bottom */
        border-width: 3px !important; /* Set border width to 3px */
        border-left: 2px solid beige; /* Red border on top */
        border-right: 2px solid beige;
        border-radius:25px;
        background-color:white;
    }

</style>

<section style="">


    <div class="section-header align-center">
        <div class="title">
            <span>Admin Exclusive</span>
        </div>
        <h2 class="section-title ">Order Details</h2>
    </div>


    <div class="container mt-4">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8 mt-10 mb-10">
                <div class="container mt-4 red-border">
                    <div class="card-body p-5">
                        <div class="row">
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Customer Name</p>
                                <p>@Model.Customer.FullName</p>
                            </div>
                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Date</p>
                                <p>@Model.OrderDate.ToShortDateString()</p>
                            </div>

                            <div class="col mb-3">
                                <p class="small text-muted mb-1">Order No.</p>
                                <p>@Model.OrderId</p>
                            </div>
                        </div>

                        <div class="mx-n5 px-5 py-4" style="background-color: var(--accent-color);border-radius:15px">
                            <div class="row">
                                @if (Model.OrderItems.Any())
                                {
                                    <h4>Order Items:</h4>
                                    <table style="color:black">
                                        <!-- Moved <table> tag outside of the foreach loop -->
                                        <tr>
                                            <th>Book Title</th>
                                            <th>Book Price</th>
                                        </tr>
                                        @foreach (var orderItem in Model.OrderItems)
                                        {
                                            <tr>
                                                <td style="width:50%">@orderItem.Book.Title</td>
                                                <td>@orderItem.Book.Price</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <p>No items in this order.</p>
                                }
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                                <p class="lead fw-bold mb-0" style="color: black;">@Model.TotalAmount.ToString("C")</p>
                            </div>
                            <div class="btn-wrap">
                                <a href="/order/index" class="btn btn-outline-accent btn-accent-arrow">
                                    Browse Orders <i class="icon icon-ns-arrow-right"></i>
                                </a>
                            </div>
                        </div>


                        
                        <div class="row">
                            <div class="col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/authorIndexScript.js"></script>
<partial name="_SelectedBookParial"> </partial>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/SelectedBooks.js"></script>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
