@model IEnumerable<MVC_Project.Author>

@{
    ViewData["Title"] = "Index";
}
<style>
    .card-img-top {
        width: 100%;
        height: 35vh;
        object-fit: contain;
    }
</style>
@*     <a href="\Author\AddNewAuthor">AddNewAuthor</a> *@



<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Read their Biography</span>
                    </div>
                    <h2 class="section-title">Our Authors</h2>
                </div>
                <ul class="tabs">
                    <li data-tab-target="#All" class="active tab" style="margin-right:35px">All</li>
                    <li data-tab-target="#A" class="tab" style="margin-right:35px">A</li>
                    <li data-tab-target="#B" class="tab" style="margin-right:35px">B</li>
                    <li data-tab-target="#C" class="tab" style="margin-right:35px">C</li>
                    <li data-tab-target="#D" class="tab" style="margin-right:35px">D</li>
                    <li data-tab-target="#E" class="tab" style="margin-right:35px">E</li>
                    <li data-tab-target="#F" class="tab" style="margin-right:35px">F</li>
                    <li data-tab-target="#G" class="tab" style="margin-right:35px">G</li>
                    <li data-tab-target="#H" class="tab" style="margin-right:35px">H</li>
                    <li data-tab-target="#I" class="tab" style="margin-right:35px">I</li>
                    <li data-tab-target="#J" class="tab" style="margin-right:35px">J</li>
                    <li data-tab-target="#K" class="tab" style="margin-right:35px">K</li>
                    <li data-tab-target="#L" class="tab" style="margin-right:35px">L</li>
                    <li data-tab-target="#M" class="tab" style="margin-right:35px">M</li>
                    <li data-tab-target="#N" class="tab" style="margin-right:35px">N</li>
                    <li data-tab-target="#O" class="tab" style="margin-right:35px">O</li>
                    <li data-tab-target="#P" class="tab" style="margin-right:35px">P</li>
                    <li data-tab-target="#Q" class="tab" style="margin-right:35px">Q</li>
                    <li data-tab-target="#R" class="tab" style="margin-right:35px">R</li>
                    <li data-tab-target="#S" class="tab" style="margin-right:35px">S</li>
                    <li data-tab-target="#T" class="tab" style="margin-right:35px">T</li>
                    <li data-tab-target="#U" class="tab" style="margin-right:35px">U</li>
                    <li data-tab-target="#V" class="tab" style="margin-right:35px">V</li>
                    <li data-tab-target="#W" class="tab" style="margin-right:35px">W</li>
                    <li data-tab-target="#X" class="tab" style="margin-right:35px">X</li>
                    <li data-tab-target="#Y" class="tab" style="margin-right:35px">Y</li>
                    <li data-tab-target="#Z" class="tab" style="margin-right:35px">Z</li>

                </ul>
                <div class="tab-content">

                    <div id="All" data-tab-content class="active">
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                <div class="col-md-4">

                                    <article class="column" data-aos="fade-up">

                                        <figure>
                                            <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                <img src="@author.ImageUrl" alt="post" class="post-image">
                                            </a>
                                        </figure>

                                        <div class="post-item">
                                            @*   <div class="meta-date">Mar 30, 2021</div> *@
                                            <h3>@author.AuthorName</h3>

                                            <div class="links-element">
                                                <div class="btn-wrap ">
                                                    <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                        Biography<i class="icon icon-ns-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="social-links">
                                                    <ul>
                                                        <li>
                                                            <a href="#"><i class="icon icon-facebook"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon icon-twitter"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon icon-behance-square"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!--links-element-->

                                        </div>
                                    </article>

                                </div>

                            }
                        </div>
                    </div>
                    @{
                        bool isEmpty = true;
                    }

                    <div id="A" data-tab-content>
                        <div class="row">

                            @foreach (Author author in Model)
                            {isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('a'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }

                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="B" data-tab-content>

                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('b'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="C" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('c'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="D" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('d'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="E" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('e'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="F" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('f'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="G" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('g'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="H" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('h'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="I" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('i'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="J" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('j'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="K" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('k'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="L" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('l'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="M" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('m'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="N" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('n'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="O" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('o'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="P" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('p'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="Q" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('q'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="R" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('r'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="S" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('s'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="T" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('t'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }

                            }

                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="U" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {isEmpty = true;
                                isEmpty = false;
                                @if (author.AuthorName.ToLower().StartsWith('u'))
                                {
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="V" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('v'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="W" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('w'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="X" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('x'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="Y" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('y'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                    <div id="Z" data-tab-content>
                        <div class="row">
                            @foreach (Author author in Model)
                            {
                                isEmpty = true;
                                @if (author.AuthorName.ToLower().StartsWith('z'))
                                {
                                    isEmpty = false;
                                    <div class="col-md-4">

                                        <article class="column"  >

                                            <figure>
                                                <a href="/author/details/@author.AuthorId" class="image-hvr-effect">
                                                    <img src="@author.ImageUrl" alt="post" class="post-image">
                                                </a>
                                            </figure>

                                            <div class="post-item">
                                                @*   <div class="meta-date">Mar 30, 2021</div> *@
                                                <h3>@author.AuthorName</h3>

                                                <div class="links-element">
                                                    <div class="btn-wrap ">
                                                        <a href="/author/details/@author.AuthorId" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                                                            Biography<i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <div class="social-links">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!--links-element-->

                                            </div>
                                        </article>

                                    </div>
                                }


                            }
                            @if (isEmpty)
                            {
                                <h1 class="text-center text-secondary text-muted">No authors to show</h1>
                            }
                        </div>
                    </div>
                </div>

                @* <div class="row">

                <div class="btn-wrap align-center">
                <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
                Biography<i class="icon icon-ns-arrow-right"></i>
                </a>
                </div>
                </div> *@

            </div>
        </div>
    </div>
</section>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/authorIndexScript.js"></script>
<link rel="stylesheet" href="/css/AuthorIndex.css" />
