@model Book
@{
    ViewData["Title"] = "GetBookById";
}
<style>
    .username {
        font-size: 1.5em;
        font-weight: 100;
        margin: 0px;
    }


    div.rating-wrapper {
        align-self: center;
        border-radius: 5rem;
        display: inline-flex;
        direction: rtl !important;
        /*     padding: 1rem 2rem; */
        margin-left: auto;
        label

    {
        color: #E1E6F6;
        cursor: pointer;
        display: inline-flex;
        font-size: 1rem;
        padding: 0.5rem .3rem;
        transition: color 0.5s;
    }

    svg {
        -webkit-text-fill-color: transparent;
        -webkit-filter: drop-shadow (4px 1px 6px rgba(198, 206, 237, 1));
        filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
    }

    input {
        height: auto;
        width: 25%;
    }

    input {
        display: none;
    }

        label:hover,
        label:hover ~ label,
        input:checked ~ label {
            color: var(--accent-color);
        }

            label:hover,
            label:hover ~ label,
            input:checked ~ label {
                color: var(--accent-color);
            }

    }
</style>

<div class="section-header align-center">

    <h3 class="section-title " style="font-size:2rem;margin:45px 0px ">All you need to know</h3>
</div>

<section id="best-selling" class="leaf-pattern-overlay">

    <div class="container">
        <div class="row justify-content-center ">

            <div class="col-md-10">

                <div class="row">

                    <div class="col-md-6">
                        <figure class="products-thumb pattern-overlay">
                            <img src="@Model.ImageUrl" alt="book" class="single-image">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry ">
                            <h2 class="section-title divider">@Model.Title</h2>

                            <div class="products-content">
                                <div class="author-name"><a href="/author/details/@Model.Author.AuthorId">@Model.Author.AuthorName</a></div>

                                <h3 class="item-title"></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
                                    ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
                                    urna, a eu.

                                </p>
                                <div class="item-price" style=" margin-bottom: 0"> Price : $ @Model.Price</div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="btn-wrap">
                    <div class="item-price"> In stock :@Model.QuantityAvailable Copies</div>
                    <button type="button" class="add-to-cart btn btn-outline-accent btn-accent-arrow" data-book-id="@Model.BookId">
                        Add To Cart  <i class="icon icon-ns-arrow-right"></i>
                    </button>

                </div>

                @if (User.IsInRole("Admin"))
                {
                    <div class="btn-wrap">
                        <a href="/book/delete/@Model.BookId" class="btn btn-outline-accent btn-accent-arrow">
                            Delete Book <i class="icon icon-ns-arrow-right"></i>
                        </a>
                    </div>
                }

                <div class="btn-wrap">


                    <!-- / row -->

                </div>

            </div>
        </div>

</section>




<div class="section-header align-center mt-3">
    <div class="title">
        <span>What is everyone saying?</span>
    </div>
    <h2 class="section-title">Readers Reviews</h2>
</div>

<section id="featured-books" class="leaf-pattern-overlay bg-gradient">

    <div class="container">
        <div class="row justify-content-center ">

            <div class="col-md-10">
                <div id="reviewContainer">

                    @if (Model.Reviews.Count > 0)
                    {
                        @foreach (Review review in Model.Reviews)
                        {
                            <div class="row">
                                <div class="card shadow rounded-3" style="padding:1rem;margin-bottom:2rem">
                                    <div class="card-body">

                                        <div class="row     align-items-md-start">
                                            <div class="d-flex flex-start align-items-center col-md-1">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                                     height="60" />
                                            </div>

                                            <div class="col-md-4">
                                                <h6 class="text-primary username">@review.User.UserName</h6>
                                                <p class="text-muted small mb-0">
                                                    Shared publicly - Jan 2020
                                                </p>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <p class="mt-3 mb-4 pb-2">
                                                @review.Text
                                            </p>

                                        </div>



                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>

            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="card shadow rounded-3" style="padding:1rem ">
                        <div class="card-body">
                            <div class="row align-items-md-start">
                                <div class="d-flex flex-start align-items-center col-md-1">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                         height="60" />
                                </div>
                                <div data-mdb-input-init class="form-outline col-md-11">

                                    <textarea class="form-control " id="Msg" rows="2" placeholder="write a review"></textarea>
                                    @*   <div class="rating-wrapper">

                                    <!-- star 5 -->
                                    <input type="radio" id="5-star-rating" name="star-rating" value="5">
                                    <label for="5-star-rating" class="star-rating">
                                    <i class="fas fa-star d-inline-block"></i>
                                    </label>

                                    <!-- star 4 -->
                                    <input type="radio" id="4-star-rating" name="star-rating" value="4">
                                    <label for="4-star-rating" class="star-rating star">
                                    <i class="fas fa-star d-inline-block"></i>
                                    </label>

                                    <!-- star 3 -->
                                    <input type="radio" id="3-star-rating" name="star-rating" value="3">
                                    <label for="3-star-rating" class="star-rating star">
                                    <i class="fas fa-star d-inline-block"></i>
                                    </label>

                                    <!-- star 2 -->
                                    <input type="radio" id="2-star-rating" name="star-rating" value="2">
                                    <label for="2-star-rating" class="star-rating star">
                                    <i class="fas fa-star d-inline-block"></i>
                                    </label>

                                    <!-- star 1 -->
                                    <input type="radio" id="1-star-rating" name="star-rating" value="1">
                                    <label for="1-star-rating" class="star-rating star">
                                    <i class="fas fa-star d-inline-block"></i>
                                    </label>

                                    </div> *@

                                </div>

                                <div class="d-flex justify-content-end  btn-wrap" style="margin-bottom:0">
                                    <button type="button" onclick="Send_Review()" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-accent btn-accent-arrow" style="margin:0">Post Review</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>More by @Model.Author.AuthorName</span>
                    </div>
                    <h2 class="section-title">Featured Books</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">

                        @foreach (Book book in Model.Author.Books)
                        {
                            @if (book.BookId != Model.BookId)
                            {
                                <div class="col-md-4">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <a href="/book/details/@book.BookId">
                                                <img src="@book.ImageUrl" alt="Books" class="product-item">
                                            </a>
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>@book.Title</h3>
                                            <span>@book.Author.AuthorName</span>
                                            <div class="item-price">$ @book.Price</div>
                                        </figcaption>
                                    </div>
                                </div>
                            }

                        }

                    </div><!--ft-books-slider-->
                </div><!--grid-->


            </div><!--inner-content-->
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="btn-wrap align-right">
                    <a href="/book/index" class="btn-accent-arrow">
                        View all Books <i class="icon icon-ns-arrow-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/microsoft-signalr/signalr.min.js"></script>

<script>
    var hub = new signalR.HubConnectionBuilder().withUrl("/ReviewsHub").build();

    hub.start().then(function () {
        console.log("Connection Success.");
    });

    hub.on("RecieveNewComment", function (name, message, bookID) {
        if (bookID === @Model.BookId) {
            console.log("message");
            // $("#Conv").append("<li>" + name + ": " + message + "</li>");
            $("#reviewContainer").append(`

                    <div class="row">
                                        <div class="card shadow rounded-3" style="padding:1rem;margin-bottom:2rem">
                                            <div class="card-body">

                                                <div class="row     align-items-md-start">
                                                    <div class="d-flex flex-start align-items-center col-md-1">
                                                        <img class="rounded-circle shadow-1-strong me-3"
                                                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                                             height="60" />
                                                    </div>
                                                    <div class="col-md-4">
                                                            <h6 class="text-primary username">${name}</h6>
                                                        <p class="text-muted small mb-0">
                                                            Shared publicly - Jan 2020
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p class="mt-3 mb-4 pb-2">
                                                       ${message}
                                                    </p>
                                                </div>
                                             </div>
                                        </div>
                                    </div>



                `)
        }
    });

    function Send_Review() {
        var name = $("#Name").val();
        var Msg = $("#Msg").val();
        var bookID = parseInt(@Model.BookId);

        hub.invoke("SendReview", Msg, bookID).catch(function (err) {
            console.error("Error sending review: " + err.toString());
        });
    }

</script>

<partial name="_SelectedBookParial"></partial>