
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@model IEnumerable<MVC_Project.Book>

@{
    ViewData["Title"] = "Index";
}
<style>
    .card-img-top {
        width: 100%;
        height: 50vh;
        object-fit: contain;
    }
</style>
<a href="\Book\AddNewBook">AddNewBook</a>
<nav class="AlphabetNav">
    <a href="#A">A</a>
    <a href="#B">B</a>
    <a href="#C">C</a>
    <a href="#D">D</a>
    <a href="#E">E</a>
    <a href="#F">F</a>
    <a href="#G">G</a>
    <a href="#H">H</a>
    <a href="#I">I</a>
    <a href="#J">J</a>
    <a href="#K">K</a>
    <a href="#L">L</a>
    <a href="#M">M</a>
    <a href="#N">N</a>
    <a href="#O">O</a>
    <a href="#P">P</a>
    <a href="#Q">Q</a>
    <a href="#R">R</a>
    <a href="#S">S</a>
    <a href="#T">T</a>
    <a href="#U">U</a>
    <a href="#V">V</a>
    <a href="#W">W</a>
    <a href="#X">X</a>
    <a href="#Y">Y</a>
    <a href="#Z">Z</a>
</nav>


<div class="container-fluid">
    <div class="row  row-cols-md-2">
        @foreach (Book book in Model)
        {
            <div class="col mb-3">
                <div class="card w-100">
                    <div class="card">
                        <div style="display: flex;">
                            <div class="py-3 px-3">
                                <img class="card-img-top object-fit-scale  rounded-circle" src="@book.ImageUrl" />
                            </div>
                            <div style="display: flex;flex-wrap: nowrap;flex-direction: column;justify-content: center;">

                                <h5 class="Contact-name">@book.Title</h5>
                                <p class="card-text">Author Name: @book.Author.AuthorName</p>
                                <p class="card-text">Price: @book.Price</p>
                                <p class="card-text">Quantity Available: @book.QuantityAvailable</p>
                                <a href="/Book/GetBookById/@book.BookId" class="btn btn-primary mx-2">See Details</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/authorIndexScript.js"></script>
<link rel="stylesheet" href="/css/AuthorIndex.css"   />
