@model IEnumerable<MVC_Project.Book>
@{
    ViewData["Title"] = "Index";
}


@* <a href="\Book\AddNewBook">AddNewBook</a>
 *@
 <section id="popular-books" class="bookshelf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center mt-5">
                    <div class="title">
                        <span>Happy Reading</span>
                    </div>
                    <h2 class="section-title">Our Books</h2>
                </div>

				<ul class="tabs">
					<li data-tab-target="#all-genre" class="active tab">All</li>
					<li data-tab-target="#Fantasy" class="tab">Fantasy</li>
					<li data-tab-target="#MysteryThriller" class="tab">Mystery/Thriller</li>
					<li data-tab-target="#Adventure" class="tab">Adventure</li>
					<li data-tab-target="#ScienceFiction" class="tab">Sci Fi</li>
					<li data-tab-target="#HistoricalFiction" class="tab">Historical Fiction</li>
					<li data-tab-target="#ClassicLiterature" class="tab">Classics</li>
					<li data-tab-target="#ModernFiction" class="tab">Modern Fiction</li>



				</ul>
                <!-- Sidebar for Cart -->
              

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        <div class="row row-cols-md-1">
                            @foreach (Book book in Model)
                            {
                                <div class="col-md-3" data-aos="fade-up">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <a href="/book/details/@book.BookId">
                                                <img src="@book.ImageUrl" alt="Books" class="product-item">
                                            </a>
                                            <button type="button" class="add-to-cart" data-book-id="@book.BookId">
                                                Add To Cart
                                            </button>
                                           
                                        </figure>
                                        <figcaption>
                                            <h3>@book.Title</h3>
                                            <span>@book.Author.AuthorName</span>
                                            <div class="item-price">$ @book.Price</div>
                                            
                                        </figcaption>
                                    </div>
                                </div>

                            }

                        </div>

                    </div>
					@{
						bool isEmpty = true;
					}
					<div id="Fantasy" data-tab-content>
						<div class="row row-cols-md-1">
							@{
								isEmpty = true;
							}

							@foreach (Book book in Model)
							{
								@if (book.CategoryID == 1)
								{
									isEmpty = false;
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<a href="/book/details/@book.BookId">
													<img src="@book.ImageUrl" alt="Books" class="product-item">
												</a>
												<button type="button" class="add-to-cart" data-book-id="@book.BookId">
													Add To Cart
												</button>

											</figure>
											<figcaption>
												<h3>@book.Title</h3>
												<span>@book.Author.AuthorName</span>
												<div class="item-price">$ @book.Price</div>

											</figcaption>
										</div>
									</div>
								}
							}

							@if (isEmpty)
							{
								<h1 class="text-center text-secondary text-muted mb-5">No Books to show</h1>
							}
						</div>
					</div>

					<div id="MysteryThriller" data-tab-content>
						@{
							isEmpty = true;
						}

						@foreach (Book book in Model)
						{
							@if (book.CategoryID == 2)
							{
								isEmpty = false;
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<a href="/book/details/@book.BookId">
												<img src="@book.ImageUrl" alt="Books" class="product-item">
											</a>
											<button type="button" class="add-to-cart" data-book-id="@book.BookId">
												Add To Cart
											</button>

										</figure>
										<figcaption>
											<h3>@book.Title</h3>
											<span>@book.Author.AuthorName</span>
											<div class="item-price">$ @book.Price</div>

										</figcaption>
									</div>
								</div>
							}
						}
						@if (isEmpty)
						{
							<h1 class="text-center text-secondary text-muted mb-5">No Books to show</h1>
						}
					</div>

					<div id="Adventure" data-tab-content>
						@{
							isEmpty = true;
						}

						@foreach (Book book in Model)
						{
							@if (book.CategoryID == 3)
							{
								isEmpty = false;
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<a href="/book/details/@book.BookId">
												<img src="@book.ImageUrl" alt="Books" class="product-item">
											</a>
											<button type="button" class="add-to-cart" data-book-id="@book.BookId">
												Add To Cart
											</button>

										</figure>
										<figcaption>
											<h3>@book.Title</h3>
											<span>@book.Author.AuthorName</span>
											<div class="item-price">$ @book.Price</div>

										</figcaption>
									</div>
								</div>
							}
						}
						@if (isEmpty)
						{
							<h1 class="text-center text-secondary text-muted mb-5">No Books to show</h1>
						}
					</div>
					<div id="ScienceFiction" data-tab-content>
						@{
							isEmpty = true;
						}

						@foreach (Book book in Model)
						{
							@if (book.CategoryID == 4)
							{
								isEmpty = false;
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<a href="/book/details/@book.BookId">
												<img src="@book.ImageUrl" alt="Books" class="product-item">
											</a>
											<button type="button" class="add-to-cart" data-book-id="@book.BookId">
												Add To Cart
											</button>

										</figure>
										<figcaption>
											<h3>@book.Title</h3>
											<span>@book.Author.AuthorName</span>
											<div class="item-price">$ @book.Price</div>

										</figcaption>
									</div>
								</div>
							}
						}
						@if (isEmpty)
						{
							<h1 class="text-center text-secondary text-muted mb-5">No Books to show</h1>
						}
					</div>
					<div id="HistoricalFiction" data-tab-content>
						@{
							isEmpty = true;
						}

						@foreach (Book book in Model)
						{
							@if (book.CategoryID == 5)
							{
								isEmpty = false;
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<a href="/book/details/@book.BookId">
												<img src="@book.ImageUrl" alt="Books" class="product-item">
											</a>
											<button type="button" class="add-to-cart" data-book-id="@book.BookId">
												Add To Cart
											</button>

										</figure>
										<figcaption>
											<h3>@book.Title</h3>
											<span>@book.Author.AuthorName</span>
											<div class="item-price">$ @book.Price</div>

										</figcaption>
									</div>
								</div>
							}
						}
						@if (isEmpty)
						{
							<h1 class="text-center text-secondary text-muted mb-5">No Books to show</h1>
						}
					</div>
					<div id="ClassicLiterature" data-tab-content>
						@{
							isEmpty = true;
						}

						@foreach (Book book in Model)
						{
							@if (book.CategoryID == 6)
							{
								isEmpty = false;
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<a href="/book/details/@book.BookId">
												<img src="@book.ImageUrl" alt="Books" class="product-item">
											</a>
											<button type="button" class="add-to-cart" data-book-id="@book.BookId">
												Add To Cart
											</button>

										</figure>
										<figcaption>
											<h3>@book.Title</h3>
											<span>@book.Author.AuthorName</span>
											<div class="item-price">$ @book.Price</div>

										</figcaption>
									</div>
								</div>
							}
						}
						@if (isEmpty)
						{
							<h1 class="text-center text-secondary text-muted mb-5">No Books to show</h1>
						}
					</div>
					<div id="ModernFiction" data-tab-content>
						@{
							isEmpty = true;
						}

						@foreach (Book book in Model)
						{
							@if (book.CategoryID == 7)
							{
								isEmpty = false;
								<div class="col-md-3">
									<div class="product-item">
										<figure class="product-style">
											<a href="/book/details/@book.BookId">
												<img src="@book.ImageUrl" alt="Books" class="product-item">
											</a>
											<button type="button" class="add-to-cart" data-book-id="@book.BookId">
												Add To Cart
											</button>

										</figure>
										<figcaption>
											<h3>@book.Title</h3>
											<span>@book.Author.AuthorName</span>
											<div class="item-price">$ @book.Price</div>

										</figcaption>
									</div>
								</div>
							}
						}
						@if (isEmpty)
						{
							<h1 class="text-center text-secondary text-muted mb-5">No Books to show</h1>
						}
					</div>

				</div>

            </div><!--inner-tabs-->

        </div>
    </div>
	<div class="btn-wrap " style="margin-left:10%">
		<a href="/book/AddNewBook" style="margin-top:0" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
			Add Book <i class="icon icon-ns-arrow-right"></i>
		</a>
	</div>
</section>



<!-- Pagination -->
<nav aria-label="Page navigation example">

    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="/Book/Index?page=@i">@i</a>
            </li>
        }
    </ul>
</nav>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/authorIndexScript.js"></script>
<link rel="stylesheet" href="/css/AuthorIndex.css"/>


<partial name="_SelectedBookParial"></partial>

