@model IEnumerable<MVC_Project.Book>
@{
    ViewData["Title"] = "Index";
}


@* <a href="\Book\AddNewBook">AddNewBook</a>
 *@
 <section id="popular-books" class="bookshelf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Happy Reading</span>
                    </div>
                    <h2 class="section-title">Our Books</h2>
                </div>
<!--

                <ul class="tabs">
                    <li data-tab-target="#all-genre" class="active tab">All Genre</li>
                    <li data-tab-target="#business" class="tab">Business</li>
                    <li data-tab-target="#technology" class="tab">Technology</li>
                    <li data-tab-target="#romantic" class="tab">Romantic</li>
                    <li data-tab-target="#adventure" class="tab">Adventure</li>
                    <li data-tab-target="#fictional" class="tab">Fictional</li>
                </ul>
                -->
                <!-- Sidebar for Cart -->
              
                <div id="cart-sidebar" class="sidebar" style="">
                    
                </div>

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        <div class="row row-cols-md-1">
                            @foreach (Book book in Model)
                            {
                                <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <a href="/book/details/@book.BookId">
                                                <img src="@book.ImageUrl" alt="Books" class="product-item">
                                            </a>
                                            <button type="button" class="add-to-cart" data-book-id="@book.BookId">
                                                Add To Cart
                                            </button>
                                           
                                        </figure>
                                        <figcaption>
                                            <h3>@book.Title</h3>
                                            <span>@book.Author.AuthorName</span>
                                            <div class="item-price">$ @book.Price</div>
                                            
                                        </figcaption>
                                    </div>
                                </div>

                            }

                        </div>

                    </div>
                    <!--
                    <div id="business" data-tab-content>
                        <div class="row">
           

                        </div>
                    </div>

                    <div id="technology" data-tab-content>
                        <div class="row">
                  
                        </div>
                    </div>

                    <div id="romantic" data-tab-content>
                        <div class="row">
                         
                        </div>
                    </div>

                    <div id="adventure" data-tab-content>
                        <div class="row">
                          
                        </div>
                    </div>

                    <div id="fictional" data-tab-content>
                        <div class="row">
                           
                          
                        </div>
                    </div>
                    -->
                </div>

            </div><!--inner-tabs-->

        </div>
    </div>
</section>



<!-- Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="/Book/Index?page=@i">@i</a>
            </li>
        }
    </ul>
</nav>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/js/authorIndexScript.js"></script>
<link rel="stylesheet" href="/css/AuthorIndex.css"/>

<script>
    $(document).ready(function () {
       
        var selectedBooksID = [];

       
        $('.add-to-cart').click(function () {
            var bookId = $(this).data('book-id');
            selectedBooksID.push(bookId);
            $('#cart-sidebar').append('<div>' + bookId+  '</div>');

        });

        
    });
</script>