
@{
    ViewData["Title"] = "SearchByAuthor";
}

<h1>SearchByAuthor</h1>
@model List<Author>

@foreach (var author in Model)
{
    <div class="card">
        <div class="card-header">@author.AuthorName</div>
        <div class="card-body">@author.Biography</div>
        <div class="card-body">@author.BirthDate</div>
        <div class="card-footer">@author.Country</div>
    </div>
}
@Html.RenderPartialAsync("_SelectedBookParial");
